<% breadcrumb :user_show %>
<div class="user-container-head">
  <h1>ユーザー情報</h1>
  <div class="actions">
    <%= link_to edit_user_registration_path,class: "btn btn-primary border border-white",style: "background-color: #cd853f;" do %>
      <i class="fas fa-user-edit"></i>
    <% end %>
  </div>
</div>

<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div class="user-field">
        <% if @user.profile_image? %>
         <%= image_tag @user.profile_image.url %>
        <% else %>
          <%= image_tag("default.png") %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @user.name %></h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= @user.profile%></li>
        <li class="list-group-item"><%= @user.email %></li>
      </ul>
    </div>
  </div>
</div>

<div class="actions">
  <%= link_to :back, class: "btn btn-outline-secondary btn-sm" do %>
    <i class="fas fa-long-arrow-alt-left"></i>
  <% end %>
</div>