<header class="sticky-top">
  <nav class="navbar navbar-expand-md">
      <%= link_to 'BestBefore', root_path, class: "navbar-brand", data: {"turbolinks" => false} %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
      <li class="nav-item">
            <%= link_to users_show_path, class: "nav-link" do %>
            <span>ユーザー情報</span>
            <i class="fas fa-user"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to foods_path, class: "nav-link" do %>
            <span>食品一覧</span>
            <i class="fas fa-clipboard"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_food_path, class: "nav-link" do %>
            <span>食品追加</span>
            <i class="fas fa-pen"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, class: "nav-link", method: :delete do %>
            <span>サインアウト</span>
            <i class="fas fa-sign-in-alt"></i>
            <% end %>
          </li>
      </ul>
    </div>
  </nav>
</header>