<% breadcrumb :food_index %>
<div class="row">
  <div class="row-search">
    <div class="search_form">
      <%= render 'partial/search_form' %>
    </div>
  </div>
</div>
<div class="food-containers">
  <div class="food-container">
    <div class="food-container-head">
      <h1><i class="fas fa-list"></i> 食品一覧:<%= @foods_total.length %>件</h1>
        <div class="actions">
          <%= link_to new_food_path,class: "btn btn-primary btn-lg border border-white",style: "background-color: #cd853f;" do %>
            </span><i class="fas fa-pen"></i>
          <% end %>
        </div>
    </div>
    <% if @foods.length != 0 %>
      <div class="card-deck">
        <% @foods.each do |food| %>
          <% if (food.time - @today).to_i > -1 %>
            <div class="food col-md-4">
              <div class="card h-100">
                <div class="card-img-top">
                  <%= link_to food_path(food) do %>
                    <% if food.food_image? %>
                      <%= image_tag food.food_image.url %>
                    <% else %>
                      <%= image_tag("default.png") %>
                    <% end %>
                  <% end %>
                </div>
                <div class="card-body">
                  <div class="card-title">
                    <h5><%= food.title %></h5>
                  </div>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">期限切れまで:<%= (food.time - @today).to_i %>日</li>
                </ul>
                <div class="card-body">
                  <div class="card-body-btn">
                  <% if food.user == current_user %>
                    <%= link_to food_path(food),class: "btn btn-warning",style: "color:white;, background-color: #FF8C00;" do %>
                      <span class="description_top">詳細</span><i class="fas fa-info"></i>
                    <% end %>
                    <%= link_to done_path(food.id), method: :post,class: "btn btn-success" do %>
                      <span class="description_top">消費</span><i class="fas fa-tasks"></i>
                    <% end %>
                    <%= link_to edit_food_path(food),class: "btn btn-info" do %>
                      <span class="description_top">編集</span><i class="fas fa-edit"></i>
                    <% end %>
                    <%= link_to food, method: :delete, data: { confirm: '本当に削除しますか?' },class: "btn btn-danger" do %>
                      <span class="description_top">削除</span><i class="fas fa-trash-alt"></i>
                    <% end %>
                  <% else %>
                    <%= link_to food_path(food),class: "btn btn-warning",style: "color:white;, background-color: #FF8C00;" do %>
                      <span class="description_top">詳細</span><i class="fas fa-info"></i>
                    <% end %>
                  <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% else %>
            <div class="food col-md-4">
              <div class="card h-100">
                <div class="card-img-top">
                  <%= link_to food_path(food) do %>
                    <% if food.food_image? %>
                      <%= image_tag food.food_image.url %>
                    <% else %>
                      <%= image_tag("default.png") %>
                    <% end %>
                  <% end %>
                </div>
                <div class="card-body">
                  <div class="card-title">
                    <h5><span class="badge badge-pill badge-danger"><i class="fas fa-exclamation"></i></span><%= food.title %></h5>
                  </div>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">現在<%= (food.time - @today).to_i * -1 %>日、賞味期限切れです。</li>
                </ul>
                <div class="card-body">
                  <div class="card-body-btn">
                    <% if food.user == current_user %>
                    <%= link_to food_path(food),class: "btn btn-warning",style: "color:white;, background-color: #FF8C00;" do %>
                      <span class="description_top">詳細</span><i class="fas fa-info"></i>
                    <% end %>
                    <%= link_to done_path(food.id), method: :post,class: "btn btn-success" do %>
                      <span class="description_top">消費</span><i class="fas fa-tasks"></i>
                    <% end %>
                    <%= link_to edit_food_path(food),class: "btn btn-info" do %>
                      <span class="description_top">編集</span><i class="fas fa-edit"></i>
                    <% end %>
                    <%= link_to food, method: :delete, data: { confirm: '本当に削除しますか?' },class: "btn btn-danger" do %>
                      <span class="description_top">削除</span><i class="fas fa-trash-alt"></i>
                    <% end %>
                  <% else %>
                    <%= link_to food_path(food),class: "btn btn-warning",style: "color:white;, background-color: #FF8C00;" do %>
                      <span class="description_top">詳細</span><i class="fas fa-info"></i>
                    <% end %>
                  <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <% else %>
        <h3>このページに食品はありません</h3>
      <% end %> 
    </div>
    <div class="food-container">
      <h1><i class="fas fa-tasks"></i> 消費した食品:<%= @foods_done_total.length %>件</h1>
      <% if @foods_done.length != 0 %>
      <div class="card-deck">
      <% @foods_done.each do |food| %>
        <div class="food col-md-4">
          <div class="card h-100">
            <div class="card-img-top">
              <%= link_to food_path(food) do %>
                <% if food.food_image? %>
                  <%= image_tag food.food_image.url %>
                <% else %>
                  <%= image_tag("default.png") %>
                <% end %>
              <% end %>
            </div>
            <div class="card-body">
              <div class="card-title">
                <h5><%= food.title %></h5>
              </div>
            </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">消費日:<%= food.done_at.strftime('%Y-%m-%d') %></li>
              </ul>
            <div class="card-body">
              <div class="card-body-btn">
              <% if food.user == current_user %>
                <%= link_to food_path(food),class: "btn btn-warning",style: "color:white;, background-color: #FF8C00;" do %>
                  <span class="description_top">詳細</span><i class="fas fa-info"></i>
                <% end %>
                <%= link_to food, method: :delete, data: { confirm: '本当に削除しますか?' },class: "btn btn-danger" do %>
                  <span class="description_top">削除</span><i class="fas fa-trash-alt"></i>
                <% end %>
              <% else %>
                <%= link_to food_path(food),class: "btn btn-warning",style: "color:white;, background-color: #FF8C00;" do %>
                  <span class="description_top">詳細</span><i class="fas fa-info"></i>
                <% end %>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% else %>
      <h3>このページに消費した食品はありません</h3>
    <% end %>
  </div>
</div>
<div id="page_top"><a href="#"><%= image_pack_tag 'up.png' %></a></div>
<%= paginate @foods %>