<h1>食品一覧</h1>

<div>
  <%= link_to '新規作成', new_food_path,class: "btn btn-primary" %>
</div>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>食品</th>
        <th>詳細</th>
      </tr>
    </thead>

    <tbody>
      <% @foods.each do |food| %>
      <tr>
        <td><%= food.title %></td>
        <td><%= food.content %></td>
        <td><%= link_to '編集', edit_food_path(food),class: "btn btn-warning" %></td>
        <td><%= link_to '削除', food, method: :delete, data: { confirm: 'You sure?' },class: "btn btn-danger" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
