<% breadcrumb :food_search %>
<div class="food-containers">
  <div class="food-container">
    <div class="food-container-head-search">
      <h1>検索結果</h1>
      <h2><i class="fas fa-list"></i> 食品一覧:<%= @results_total.length %>件</h2>
    </div>
    <% if @results.length != 0 %>
      <div class="card-deck">
      <% @results.each do |food| %>
        <% if (food.time - @today).to_i > -1 %>
          <div class="food col-md-4">
            <div class="card h-100">
              <div class="card-img-top">
                <%= link_to food_path(food) do %>
                  <% if food.food_image? %>
                    <%= image_tag food.food_image.url %>
                  <% else %>
                    <%= image_tag("default.png") %>
                  <% end %>
                <% end %>
              </div>
              <div class="card-body">
                <div class="card-title">
                  <h5><%= food.title %></h5>
                </div>
              </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">期限切れまで:<%= (food.time - @today).to_i %>日</li>
                </ul>
              <div class="card-body">
                <div class="card-body-btn">
                  <%= link_to food_path(food),class: "btn btn-warning",style: "color:white;, background-color: #FF8C00;" do %>
                    <i class="fas fa-info"></i>
                  <% end %>
                  <%= link_to done_path(food.id), method: :post,class: "btn btn-success" do %>
                    <i class="fas fa-tasks"></i>
                  <% end %>
                  <%= link_to edit_food_path(food),class: "btn btn-info" do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                  <%= link_to food, method: :delete, data: { confirm: '本当に削除しますか?' },class: "btn btn-danger" do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <div class="food col-md-4">
            <div class="card h-100">
              <div class="card-img-top">
                <%= link_to food_path(food) do %>
                  <% if food.food_image? %>
                    <%= image_tag food.food_image.url %>
                  <% else %>
                    <%= image_tag("default.png") %>
                  <% end %>
                <% end %>
              </div>
              <div class="card-body">
                <div class="card-title">
                  <h5><span class="badge badge-pill badge-danger"><i class="fas fa-exclamation"></i></span><%= food.title %></h5>
                </div>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">現在<%= (food.time - @today).to_i * -1 %>日、賞味期限切れです。</li>
              </ul>
              <div class="card-body">
                <div class="card-body-btn">
                  <%= link_to food_path(food),class: "btn btn-warning",style: "color:white;, background-color: #FF8C00;" do %>
                    <i class="fas fa-info"></i>
                  <% end %>
                  <%= link_to done_path(food.id), method: :post,class: "btn btn-success" do %>
                    <i class="fas fa-tasks"></i>
                  <% end %>
                  <%= link_to edit_food_path(food),class: "btn btn-info" do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                  <%= link_to food, method: :delete, data: { confirm: '本当に削除しますか?' },class: "btn btn-danger" do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <% else %>
      <h3>このページに食品の検索結果はありません</h3>
    <% end %> 
  </div>
  <div class="food-container">
    <h2><i class="fas fa-tasks"></i> 消費した食品:<%= @results_done_total.length %>件</h2>
      <% if @results_done.length != 0 %>
        <div class="card-deck">
          <% @results_done.each do |food| %>
            <div class="food col-md-4">
              <div class="card h-100">
                <div class="card-img-top">
                  <%= link_to food_path(food) do %>
                    <% if food.food_image? %>
                      <%= image_tag food.food_image.url %>
                    <% else %>
                      <%= image_tag("default.png") %>
                    <% end %>
                  <% end %>
                </div>
                <div class="card-body">
                  <div class="card-title">
                    <h5><%= food.title %></h5>
                  </div>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">消費日:<%= food.done_at.strftime('%Y-%m-%d') %></li>
                </ul>
                <div class="card-body">
                  <div class="card-body-btn">
                    <%= link_to food_path(food),class: "btn btn-warning",style: "color:white;, background-color: #FF8C00;" do %>
                      <i class="fas fa-info"></i>
                    <% end %>
                    <%= link_to food, method: :delete, data: { confirm: '本当に削除しますか?' },class: "btn btn-danger" do %>
                      <i class="fas fa-trash-alt"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <h3>このページに消費した食品の検索結果はありません</h3>
      <% end %>
    <div class="actions">
      <%= link_to :back, class: "btn btn-outline-secondary btn-lg" do %>
        <i class="fas fa-long-arrow-alt-left"></i>
      <% end %>
    </div>
  </div>
</div>
<div id="page_top"><a href="#"><%= image_pack_tag 'up.png' %></a></div>
<%= paginate @results %>
